<a href="https://colab.research.google.com/github/FernandoJosePerezBarquero/Python/blob/master/Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python object

## Integer

In [2]:
# Define a integer variable
a = 6 

# Return a-class type
type( a)

# Convert any variable (float or string) to  integer
int( a)

# Power
a**2

36

## Float

In [3]:
# Define a float variable
a = 6.0 

# Convert any variable (int or string) to  float
float( a)

6.0

## String

In [10]:
# Define a string
a = " hello word"
b = 'hi world'

print( a,b )

# Concatenate 
c = a+b
print(c)

# Split,  blank space
print( a.split()  )

# Split,  ".", the same way to "." another symbol

d = "fernando.perez"
print( d.split( ".")  )

# Research to word in a string

"hi" is b  #retorna true o false

# Length of a string

len(a)

# Return the specific letter of a string string

a[1]

#Convert to string 
#str(variable)

 hello word hi world
 hello wordhi world
['hello', 'word']
['fernando', 'perez']

'h'

## List

In [0]:
# Define a list

a = [1,2,3,3]
b = [] # list empty
c = [ 10,2,3,9,0]

# Concatenate 

d = a+b

# Return the number of elements of a list

len(a)

# Add new element to end 
a.append(5)

# Insert new element before  a specific index
#a.insert( index ,  new_element)
a.insert(0, 5)

# Return de addition
sum(a)

# Eliminate the  last element and return it
eliminate_elemente1 = a.pop()

# Eliminate the element in possition index
#eliminate_elemente = a.pop( index)
eliminate_elemente2 = a.pop( 2)

# Remove a element of a list

#a.remove(element )
a.remove(3 )

# Sort a list, 1,2,3,4
c.sort() 

# Get a list sort,  1,2,3,4  
new_list_sorted1 = sorted(c)

# Get a list sort,  4,3,2,1 
new_list_sorted2 = sorted(c,reverse=True)

# Get a alias of a list
new_alias = a

# Get a clone of a list
new_clone = c[:]
new_clone = c.copy()


# Repeat the list n-th times
# f = c*(n-th times)
f = c*2

# Clear a list
a.clear()


# Count how many "i" there are in a list
f.count(2)

# Return the index of a element of a list
f.index(2)

# Extend a list
f.extend([2,5,6,9])

## Truple

In [54]:
# Define a tuple

a = (1,2,3,3)
b = (1,) # list empty
c = ( 10,2,3,9,0)

# Concatenate 

d = a+b

# Return the number of elements of a list

len(a)

# Get a alias of a list
new_alias = a

# Count how many "i" there are in a list
f.count(2)

# Return the index of a element of a list
f.index(2)

# Return de addition
sum(a)

# It is not possible
#a[0] = 5

1

## Dict

In [0]:
# Define a disct
a = {} #empty
b = { 1: 5, 5 : 5 , 8:2}

# keys 
b.keys() #return [1,5,8]

# Values
b.values # return [5,5,2]

# Add new elemente
#b[key] = value
b[0] = 9

# For loop

In [0]:
#Define for loop

for i in range(10):
  print(i)

x = [ i for i in range(10)]
x = [ i for i in range(10) if i%2 ==0 ]

# % is module

q = [ "hi", "j" , "world "]:

for i in q:
  print(q)


for i in range(100):
  if i == 50:
    break

# If, elif, else

In [0]:
a = 100

if a< 10:
  print("hi")
elif a>5:
  print("6")
else:
  print("error")

# While

In [0]:
#Define a whilw loop
a=1
while a <10 :
  a+=1